div.homePage{
    background-image: url('../img/fundoBigumedHome.png');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    background-size: contain;
}

body.homeLogin{
    background-image:url('../img/fundoLogin.gif');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}